<!doctype html>
<html>
  <link rel="stylesheet" href = "../css/style.css">
  <head>
    <title>Dragon!</title>
  </head>
  <body>
    <div class = "health-gold">
      <ul class = "health">
        <% for i in 0..@user_dragon.health do %>
        <li> <img align = "center" class = "heart" src = "http://bit.ly/1EXiIKQ"> </li>
        <% end %>
      </ul>
      <p class = "story-paragraph" style = "text-align: right">
        <%= @user_dragon.gold %>
        <img align = "right" style = "width: 3vw; margin-right: 11%;" src = "http://bit.ly/1EkWS9u">
      </p>
    </div>
    <img class = "background-dragon centered" style = "opacity: 0.15" src = "../images/background-dragon.png">
    <img class="centered img_small" style = "top: 10%;" src="../images/Title.png">
    <center><p class="centered story-paragraph" style = "top: 40%;"><b>You flop your <%= @user_dragon.skin_type %> wings as hard as you can and smash into the side of the tower. Unfortunately the tower doesn't budge and you flop to the ground. You lose 6 health. The wizard then captures you and locks you away in his dungeon casting an entrapment spell so you can never escape. THE END
</b></p>
     </center>
    <img class="centered img_small" style = "top: 60%;" src="../images/wizard_tower.png">
    <form method = "POST" action = "page1">
      <input name = "name" class = "hidden-input" type = "hidden" value = '<%= @user_dragon.name %>'>
      <input name = "sex" class = "hidden-input" type = "hidden" value = '<%= @user_dragon.sex %>'>
      <input name = "color" class = "hidden-input" type = "hidden" value = '<%= @user_dragon.color %>'>
      <input name = "skin_type" class = "hidden-input" type = "hidden" value = '<%= @user_dragon.skin_type %>'>
      <input name = "health" class = "hidden-input" type = "hidden" value = '<%= @user_dragon.health %>'>
      <input name = "gold" class = "hidden-input" type = "hidden" value = '<%= @user_dragon.gold %>'>
      <input class = "centered" style = "top: 82%;" type = "submit" value = "Play Again?">
    </form>

  </body>
</html>
