<!doctype html>
<html>
  <link rel="stylesheet" href = "css/style1.css">
  <head>
    <title>Dragon!</title>
  </head>
  <body>
    <img class = "background-dragon centered" style = "opacity: 0.15" src = "images/background-dragon.png">
    <img class="centered img_small" style = "top: 10%;" src="images/Title.png">
    <center><p class="centered" style = "top: 40%;"><b>You destroy the puny village easily. The villagers run away spreading word of your attack. You gain 200 gold. What do you do next?<br><br>Option #1: I go find a lair to store my riches and my food   <br><br>Option #2: I look for more lands to conquer </b></p></center>
    <img class="centered img_small" style = "top: 80%;" src="images/knight.png">
    <form method = "POST" action = "page8">
      <input name = "name" class = "hidden-input" type = "hidden" value = '<%= @user_dragon.name %>'>
      <input name = "sex" class = "hidden-input" type = "hidden" value = '<%= @user_dragon.sex %>'>
      <input name = "skin_type" class = "hidden-input" type = "hidden" value = '<%= @user_dragon.skin_type %>'>
      <input name = "health" class = "hidden-input" type = "hidden" value = '<%= @user_dragon.health %>'>
      <input name = "gold" class = "hidden-input" type = "hidden" value = '<%= @user_dragon.gold %>'>
      <input class = "centered" type="submit" style = "top: 80%; left: 30%;" value="Option #1">
    </form>
    <form method = "POST" action = "page10">
      <input name = "name" class = "hidden-input" type = "hidden" value = '<%= @user_dragon.name %>'>
      <input name = "sex" class = "hidden-input" type = "hidden" value = '<%= @user_dragon.sex %>'>
      <input name = "skin_type" class = "hidden-input" type = "hidden" value = '<%= @user_dragon.skin_type %>'>
      <input name = "health" class = "hidden-input" type = "hidden" value = '<%= @user_dragon.health %>'>
      <input name = "gold" class = "hidden-input" type = "hidden" value = '<%= @user_dragon.gold %>'>
      <input class = "centered" type="submit" style = "top: 80%; left: 70%;" value="Option #2">
    </form>

  </body>
</html>